
/*agrupamento de Seletores*/
h1, h2, p{
	color: red;
	text-align: center;
}

/*

Parte 1
Seletor Universal
*{margin: 3px;padding: 0;}

Seletor tag

h1{	color: blue;font-size: 20px;font-family: taroha;}
p{color: green;font-size: 24px;}

Seletor Atributo

input[type=text]{width: 200px;background-color: #ccc;height: 35px;border: none;}
input[type=email]{width: 200px;background-color: #ccc;height: 35px;}
input[type=submit]{width: 50px; background-color: green; cursor: pointer; height: 35px; color: #fff;}
*/